@model Filminurk.Models.Omdb.OmdbIndexViewModel

<h2>Otsi filmi</h2>

<div class="container"></div>
<form method="post">
	<div class="container">
		<div class="form-group col-md-offset-3 col-md-5">
			<label asp-for="Title"></label>
			<input asp-for="Title" class="form-control" />
			<span asp-validation-for="Title" class="text-danger"></span>
			<br />
		</div>
	</div>

	<div class="container">
		<div class="form-group col-md-offset-3 col-md-5">
			<button asp-controller="OMDB" asp-action="FindMovie" class="btn btn-primary">Otsi</button>
		</div>
	</div>
</form>